//
//  Release.xcconfig
//  MyProject
//
//  Created by HuangSenhui on 2023/7/4.
//  Copyright © 2023 H.S.H. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

ENABLE_BITCODE = NO

//:configuration = Release
PRODUCT_BUNDLE_IDENTIFIER = live.huangsenhui.myproject

//:configuration = Release
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon

//:configuration = Release
INFOPLIST_KEY_CFBundleDisplayName = App

//:configuration = Release
ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME = AccentColor
